body {
	background-color: #4ABDAC;
}    
	
.title {
	color: #FC4A1A;
  text-align: center; 
}

.info {
  color: white;
  display: inline-block; 
}

.directions {
  color: white;
  text-align: center; 
}

.display {
  color: white;
  font-size: 20px;

  border: #F7B733;
  border-width: 2px; 
  border-style: solid;
  padding: 3px; 
  display: inline-block; 

  text-align: center;
}

.error {
  color: red;
  font-size: 20px;

  border: #F7B733;
  border-width: 2px; 
  border-style: solid;
  padding: 3px; 
  display: inline-block; 

  text-align: center;
}

#output {
  text-align: center; 
}
